# Direct connection to the database. Used for migrations
DATABASE_URL="postgresql://postgres.<your_dbid>:<your_password>@aws-1-us-east-2.pooler.supabase.com:5432/postgres"

NODE_ENV="development"

JWT_SECRET_KEY="your_secret_key"